.user-page {
    display: grid;
    grid-template-areas:
        "header header"
        "left right";
    grid-template-columns: 200px auto;
    grid-template-rows: 85px auto;
    height: 100vh;
}

.user-page__header {
    grid-area: header;
    background-color: #1d4260;
    display: flex;
    align-items: center;
}

.header__return {
    cursor: pointer;
    display: block;
    color: #d8d8d8;
    text-decoration: none;
    background-color: #567e9f;
    padding: 7px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 30px;
}

.header__title {
    color: #d8d8d8;
    margin-left: 30px;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 23px;
}

.header__logout {
    width: 20px;
    aspect-ratio: 1;
    background: none;
    background-image: url("../../shared/icons/logout.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin-left: 7px;
}

.user-page__nav-bar {
    grid-area: left;
    display: flex;
    flex-direction: column;
    background-color: #42759e;
}

.nav-bar__nav-item {
    color: #d8d8d8;
    text-decoration: none;
    background-color: #567e9f;
    border-radius: 10px;
    margin: 8px 5px;
}

.user-page__main-content {
    grid-area: right;
}

.main-content__header {
    margin: 30px auto 30px 30px;
}

.main-content__forms-container {
    display: flex;
    column-gap: 20%;
    width: 70%;
    margin: 0 auto;
}

.forms-container__create-login-form,
.forms-container__login-form,
.main-content__edit-user-info {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 420px;
    outline: 2px solid #42759e;
    border-radius: 5px;
    padding: 10px;
}

.create-login-form__form-title {
    text-align: center;
}

.create-login-form__form-item,
.edit-user-info__form-item {
    width: 100%;
    margin: 10px 0;
}

.create-login-form__form-item label,
.edit-user-info__form-item label {
    display: block;
    width: 100%;
}

.create-login-form__input,
.edit-user-info__input {
    width: 100%;
}

.forms-container__login-form {
    flex: 1;
}

.create-login-form__button-submit,
.login-form__button-submit,
.edit-user-info__button-submit,
.list-item__add-address-button,
.addresses-list__list-item button {
    cursor: pointer;
    display: block;
    color: #d8d8d8;
    text-decoration: none;
    background-color: #567e9f;
    padding: 7px;
    border: none;
    border-radius: 10px;
}


.addresses-list__list-item--add-address input {
    width: 100%;
}

.addresses-list__list-item button {
    max-width: fit-content;
}

.main-content__title {
    margin: 20px auto 0 30px;
}

.main-content__sub-title {
    margin: 10px auto 0 30px;
}

.main-content__list-container,
.main-content__addresses-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px auto 0;
    height: 80%;
    background-color: #cfdfed;
    padding: 13px;
    border-radius: 10px;
    gap: 10px;
}

.main-content__addresses-list {
    height: fit-content;
    max-height: 40%;
}

.list-container__list-item,
.addresses-list__list-item {
    background-color: #80a6c6;
    border-radius: 10px;
    padding: 7px;
}

.addresses-list__list-item,
.addresses-list__list-item--add-address {
    display: grid;
    grid-template-columns: 200px 300px repeat(2, 90px);
    height: fit-content;
    max-height: 40%;
    justify-items: center;
    align-items: center;
}

.addresses-list__list-item--add-address {
    width: 90%;
    margin: 20px auto 0;
    height: fit-content;
    background-color: #cfdfed;
    padding: 13px;
    border-radius: 10px;
}

.list-container__list-item p,
.addresses-list__list-item p {
    margin: 0;
}

.list-item__dishes-list {
    display: flex;
    overflow-x: auto;
    padding: 4px;
}

.dishes-list__list-item {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-right: 10px;
    border-radius: 10px;
    outline: 1px solid #1d4260;
    padding: 4px;
}

.main-content__cart-container {
    display: flex;
}

.cart-container__left-cart,
.cart-container__right-cart {
    flex: 1 1;
    margin: 50px 99px auto;
    font-size: 1.3rem;
    border-radius: 5px;
    outline: 1px solid #1d4260;
    padding: 7px;
    background-color: #cfdfed;
}

.change-time__input-delvery-time {
    padding: 3px;
    border: none;
    border-radius: 5px;
    outline: 1px solid #1d4260;
    background-color: inherit;
}

.left-cart__title {
    display: block;
    margin: 0;
    margin-bottom: 20px;
    font-size: 26px;
}

.addresses-list__list-item>.list-item__delete-button {
    background-image: none;
    width: fit-content;
    aspect-ratio: initial;
}

.dishes-list__dish-item {
    display: flex;
    align-items: center;
    margin: 10px auto;
    margin-left: 15px;
}

.dish-item__remove-item,
.dish-item__inc-item {
    margin-right: 5px;
    background-image: url("../../shared/icons/removeButton.svg");
    background-position: center;
    width: 15px;
    aspect-ratio: 1;
    border: none;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #cad7e2;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.dish-item__inc-item {
    background-image: url("../../shared/icons/incButton.svg");
    background-size: 50%;
}

.dish-item__inc-item:hover {
    background-color: #cef098;
}

.dish-item__remove-item:hover {
    background-color: #f09e98;
}

.title__select-address {
    padding: 3px;
    border: none;
    border-radius: 5px;
    outline: 1px solid #1d4260;
    background-color: inherit;
    margin-left: 10px;
}


.left-cart__divider {
    border: 2px solid #1d4260;
    margin: 10px auto;
}

.left-cart__buttons-container {
    display: flex;
    justify-content: space-around;
}

.buttons-container__button {
    min-width: 200px;
    color: #d8d8d8;
    text-decoration: none;
    background-color: #567e9f;
    border-radius: 10px;
    margin: 8px 5px;
}