body:has(.modal-container) {
    overflow-y: hidden;
}

dialog {
    transition: all .5s ease-in-out;
}

dialog:-internal-dialog-in-top-layer::backdrop {
    position: fixed;
    inset: 0px;
    background: rgba(0, 0, 0, 0.25);
}

.main-content {
    display: block;
    height: initial;
    width: 100%;
    background-color: #B6DFF8;
    padding-bottom: 30px;
}

.main-content:has(div.spinner-border) {
    display: flex;
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.spinner-border {
    --bs-spinner-width: 6rem;
    --bs-spinner-height: 6rem;
}

.select-product-type {
    --padding-size: 20px;
    height: calc(165px - 2 * var(--padding-size));
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    padding: var(--padding-size) calc(var(--padding-size) + 75px);
    position: relative;
    z-index: 100;
    top: 30px;
}

.select-product-type__type-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: all .4s ease-in-out;
}

.selected-prod-type {
    box-shadow: inset 0px 0px 20px 20px #2579AD47;
    border-radius: 14px;
}

.product-type-item__img {
    aspect-ratio: 1;
    width: 45px;
}

.product-type-item__label {
    margin: 0;
    margin-top: 11px;
    text-transform: capitalize;
}

.select-kitchen-type {
    display: flex;
    justify-content: space-evenly;
    margin: 90px auto 0;
    width: 1195px;
}

.select-kitchen-type__type-item {
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    color: black;
    background-color: white;
    text-align: center;
    line-height: 29px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all;
    outline: 2px solid white;
    box-shadow: 5px 5px 10px 0 #00000040;
}

.select-kitchen-type__type-item:hover {
    color: #2579AD;
    outline: 2px solid #2579AD;
}

.select-kitchen-type__type-item.selected-type {
    color: #2579AD;
    outline: 2px solid #2579AD;
}

.kitchen-type-item__label {
    margin: 0;
}

.dishes-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 425px;
    gap: 25px;
    width: fit-content;
    margin: 60px auto 0;
    opacity: 100;
    transition: all 0.4s ease-in-out;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 500ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }
}

.fade-out {
    animation-name: fadeOut;
    animation-duration: 500ms;
}

@keyframes fadeOut {
    from {
        opacity: 100;
    }

    to {
        opacity: 0;
    }
}

.dishes-container__dish-item {
    display: flex;
    flex-direction: column;
    max-width: 275px;
    min-height: 425px;
    height: 100%;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 20px 20px 0;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 #00000040;
}

.dish-item__img {
    flex: 5;
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin: 0px auto;
    aspect-ratio: 1;
    background-size: contain;
    cursor: pointer;
}

.dish-item__title {
    flex: 1;
    margin: 5px 0;
    text-align: center;
    max-height: fit-content;
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.dish-item__desc {
    flex: 3;
    display: block;
    margin: 5px 0;
    font-weight: 300;
    font-size: 14px;
    color: rgb(13, 13, 13);
    text-align: center;
    min-height: 70px;
    max-height: 70px;
    overflow: auto;
}

.dish-item__cart-interaction {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cart-interaction__cost {
    margin: 0;
}

.cart-interaction__add-to-cart-button {
    max-width: 125px;
    height: 25px;
    border: none;
}

.cart-interaction__add-to-cart-button:hover {
    background-color: #96b3ca;
}

.modal-container {
    display: grid;
    grid-template-areas:
        "left right"
        "bottom bottom";
    column-gap: 20px;
    max-width: 775px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 #00000040;
}

.modal-container__left-content {
    max-width: 315px;
    max-height: 315px;
    cursor: auto;
}

.right-content__title {
    margin: 0;
    text-align: center;
}

.right-content__desc {
    margin: 0;
    margin-top: 14px;
}

.right-content__ingredients-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-bottom: 10px;
}

.left-content__title p {
    margin: 0 0 0.6rem 10px;
}

.right-content__food-value {
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
}

.ingredients-container__ing-item {
    outline: 1px solid #3f6c8d;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 2px;
}

.modal-container__right-content {
    grid-area: right;
    padding-right: 10px;
}

.right-content__bottom {
    display: flex;
    margin: 15px 0;
    justify-content: flex-end;
}

.modal-container__button {
    margin-left: 20px;
    max-width: 100px;
    border: none;
}

.right-content__bottom p {
    margin: 0;
}

.right-content__img {
    min-width: 220px;
    max-width: 100%;
}

.modal-container__return-button {
    width: 100%;
    cursor: pointer;
    grid-area: bottom;
    border: none;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    color: #f0f8ff;
    background-color: #3f6c8d;
    transition: all .3s ease-in-out;
}

.modal-container__return-button:hover {
    box-shadow: 0px 1px 5px 2px #6e9cbe;
}