.cart-container {
    position: fixed;
    right: 20px;
    min-width: 225px;
    width: fit-content;
    max-width: 225px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    z-index: 100;
}

.cart-container p {
    margin: 0;
}

.cart-container__title {
    font-size: 20px;
    font-weight: 500;
}

.cart-container__dishes-list {
    width: 100%;
    height: fit-content;
    max-height: 230px;
    overflow: auto;
}

.dish-list__list-item {
    width: 100%;
    display: grid;
    grid-template-areas:
        "name delete"
        "count price";
    grid-template-columns: repeat(2, 50%);
    padding-bottom: 5px;
    align-items: center;
    justify-items: center;
    border-bottom: 2px solid #B6DFF8;
}

.count-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 80px;
}

.list-item__text {
    text-align: center;
}

.list-item__delete-button,
.list-item__add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #cad7e2;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

.list-item__remove-button {
    width: 15px;
    aspect-ratio: 1;
    background-position: center;
    border: none;
    border-radius: 50%;
    background-color: #cad7e2;
}

.list-item__add-button:hover {
    background-color: #cef098;
}

.list-item__delete-button:hover,
.list-item__remove-button:hover {
    background-color: #f09e98;
}

.cart-container__result-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}

.result-container__title {
    text-align: center;
    width: 100%;
    margin: 0;
}

.result-container__total-cost {
    font-size: 30px;
    width: 100%;
    text-align: center;
}