.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.approve-modal__buttons-container {
  display: flex;
  width: 100%;
  column-gap: 20px;
}

.buttons-container__resolve,
.buttons-container__reject {
  flex: 1;
}

button:disabled {
  cursor: not-allowed;
}

.button-light,
.button-dark {
  background-color: #B6DFF8;
  color: black;
  padding: .1em .25em;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.button-dark {
  background-color: #2579AD;
  color: white;
}